:root{
    --cor-fundo: #3792e2 ;
    --cor-principal: #060d52 ;
    --cor-secundaria: #212333; 
    --cor-destaque: #72d3e4;
    --cor-texto: #77a4ac;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}
/* código escondido */

button {
    background-color: var(--cor-principal);
    color: var(--cor-destaque);
    border: none;
    border-radius: 15px;
    padding: 15px;
}
/* código escondido */

button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-secundaria);
}
/* código escondido */

button {
    background-color: var(--cor-principal);
    color: var(--cor-destaque);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-secundaria);
}
